<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation targetFramework="4.0" />
    <customErrors mode="Off"/>
    <httpRuntime/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <appSettings>
    <add key="since_id" value="3934479238246668" />
  </appSettings>
</configuration>